<div class="board" style="background: url('/img/title_img_2.jpg') no-repeat center center/cover scroll;"><span style="color: white; background:rgba(0,0,0,0.6); padding: 10px; border-radius: 10px;"><%= link_to '홈페이지 업데이트 내역', '/home/update', class: "board_title" %></span></div>
    <div class="container" style="margin-top:30px; margin-bottom: 100px;">
    <h1 style="border-bottom: 2px;"><i class="fa fa-check" aria-hidden="true"></i> 홈페이지 업데이트 내역 로그</h1>
    <div class="bd-callout bd-callout-warning">
        <b>17.7.04 이후 업데이트 내용 생략</b><br/>
            &nbsp· 업데이트 및 Rails 기능 구현법은 <a href="http://blog.naver.com/PostList.nhn?blogId=kbs4674&from=postList&categoryNo=78"><b><font color="#0066ff">여기</font></b></a>를 눌러서 참고
    </div>
    <div class="bd-callout bd-callout-warning">
        <b>17.6.24 <최신></b><br/>
            &nbsp· 홈페이지 최적화, 및 Git 사용법 Release, 게시판 재디자인
    </div>
    
    <div class="bd-callout bd-callout-warning">
        <b>17.5.28</b><br/>
            &nbsp· '좋아요' 기능 구현
    </div>
    
    <div class="bd-callout bd-callout-warning">
        <b>17.5.27</b><br/>
            &nbsp· 일부 UI디자인 수정
    </div>
    
    <div class="bd-callout bd-callout-warning">
        <b>17.5.26</b><br/>
            &nbsp· 자기 게시글은 자기만 삭제할 수 있게 하기<br/>
            &nbsp· 비정상적인 접근(예 : 자기 글이 아닌 게시글을 주소변경을 통해 임의접근)을 통한 삭제, 수정 시도 차단<br/>
            &nbsp· 기존의 <kbd>posts#new, posts#update</kbd> 에서 <kbd>＜form＞</kbd> 태그 방식을 폼헬퍼로 전환 (보안성 강화)<br/>
            &nbsp· 비정상적인 접근 시 에러메세지 출력<br/>
    </div>
    <div class="bd-callout bd-callout-warning">
        <b>~ 17.5.25</b><br/>
            &nbsp· 에디터 편집기<br/>
            &nbsp· 게시글 페이지 목록<br/>
            &nbsp· 로그인 한 사람만 게시판 등 접근 가능하게 접근권한 설정 (로그인 유무에 따른 구분)<br/>
            &nbsp· devise gem에 대한 한글화 패치 (완전히 끝나진 않음)<br/>
            &nbsp· Awesome 폰트 적용 [<a href="http://fontawesome.io/icons/" target="_blank"><font color="#0066ff">참고</font></a>]<br/>
    </div>
    
    <h1><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-top: 30px;"></i> 우리의 To do List</h1>
    <div class="bd-callout bd-callout-info">
        - 사진 업로드 연구 <br/>
        - 부진한 Mobile 브라우저 시점<br/>
        - postgress 연구 및 구현준비<br/>
        - rolify, cancancan을 이용한 회원권한 구현<br/>
        - 게시물 삭제 시 진짜 삭제되는게 아닌 hidden이 되도록 구현<br/>
            &nbsp· 예 : 레벨1 권한 게시글 주인 일반유저가 '삭제'버튼을 누르면 레벨1 권한의 모든 유저가 해당 게시글을 볼 수 없으나, <br/>
            실제로는 Admin 권한 유저는 해당 게시글을 볼 수 있음.<br/>
        - 알림 Gem 구현<br/>
            &nbsp· <a href="https://github.com/ledermann/unread" target="_blank"><font color="#0066ff">참고</font></a><br/>
        - 미완료된 devise 한글화 패치 나머지 끝내기<br/>
        - <kbd>posts#list</kbd>에서 게시글 제목(my_title) 옆에 해당 게시글의 댓글갯수 보이게 하기<br/>
        - <kbd>posts#show</kbd>에서 이전글, 다음글 기능 구현<br/>
        - 댓글기능 구현<br/>
           &nbsp· 댓글, 대댓글<br/>
        - 이미지 업로드 기능 구현<br/>
           &nbsp· 이 기능은 현재 우리가 쓰고있는 텍스트 편집기(TinyMCE)와 연동해서 사용하면 될 듯 하긴 함.<br/>
           &nbsp· 참고 - Git : TinyMCE <a href="https://github.com/spohlenz/tinymce-rails" target="_blank"><font color="#0066ff">클릭</font></a><br/>
        - 부트스트랩 : 모바일 보완 (PC버전에서 가로 스크롤창을 줄이면 문제점을 알 수 있음.)<br/>
        - 게시판 카테고리 기능 구현<br/>
            &nbsp· <a href="https://rorlab.gitbooks.io/railsguidebook/content/contents/walkthrough/model_association.html" target="_blank"><font color="#0066ff">참고</font></a><br/>
        - 홈페이지 짜잘한 디자인 보완 (카톡 썸네일 이미지, 파비콘, 홈페이지 UI 등..)<br/>
        - 우리모두 끝까지 살아남아서 '멋쟁이 사자처럼 5기' 수료증 받아내기<br/>
    </div>

    <h1><i class="fa fa-users" aria-hidden="true" style="margin-top: 30px;"></i> Team</h1>
    <div class="bd-callout bd-callout-info">
        김승한 / 이근식 / 서현석 / 김상열 / 김철민<br/>
    </div>
</div>