<div class="comments">
  <div class="comment_header">
    <h5><i class="fa fa-commenting-o" aria-hidden="true"></i> 댓글</h5>
  </div>
  <div class="comments_list">
    <%= render "vote_comments/list" %>
  </div>
  <div class='comments_form'>
    <%= render "vote_comments/form", vote_comment: @link.vote_comments.new %>
  </div>
</div>