<div class="board" style="background: url('/img/title_img_3.jpg') no-repeat center center/cover scroll;"><span style="color: white; background:rgba(0,0,0,0.6); padding: 10px; border-radius: 10px;"><%= link_to "? ? ?", "", class: "board_title" %></span></div>
<form action="/knu/key" class="container" method="post" style="margin-top: 40px;">
  <div class="form-group">
    <label for="formGroupExampleInput">Secret Key</label>
    <input type="text" name="input_key" class="form-control" id="formGroupExampleInput" placeholder="암호를 입력.">
  </div>
  <div align="right"><button type="submit" class="btn btn-primary">입력</button></div>
</form>