<strong><%= personal_message.user.nickname %></strong></p>
<div clas="flex-row">
    <div class="col-sm-4" style="width: 100%; padding: 10px; background: #FFEA00; border-radius: 10px;"><%= personal_message.body %></div>
    <div class="col-sm-3"><%= personal_message.created_at.strftime('%Y-%m-%d %H:%M') %></div>
</div>
<hr>